body {
  .Lexical__h1,
  .Lexical__h2,
  .Lexical__h3,
  .Lexical__h4,
  .Lexical__h5 {
    color: var(--sn-stylekit-accessory-tint-color-3);
    color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-3) 50%, var(--sn-stylekit-editor-foreground-color));
  }

  .Lexical__textBold {
    color: var(--sn-stylekit-accessory-tint-color-2);
    color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-2) 50%, var(--sn-stylekit-editor-foreground-color));
  }

  .Lexical__textItalic {
    color: var(--sn-stylekit-accessory-tint-color-5);
    color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-5) 50%, var(--sn-stylekit-editor-foreground-color));
  }

  .Lexical__link {
    color: var(--sn-stylekit-accessory-tint-color-4) !important;
    color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-4) 50%, var(--sn-stylekit-editor-foreground-color)) !important;

    &:after {
      display: inline-block;
      content: '\2197';
      width: auto;
      margin-left: 0.2em;
      margin-right: 0.2em;
    }
  }

  .Lexical__ul,
  .Lexical__ol {
    >li {
      color: var(--sn-stylekit-accessory-tint-color-1);
      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-1) 50%, var(--sn-stylekit-editor-foreground-color));

      >.Lexical__ul,
      >.Lexical__ol {
        >li {
          color: var(--sn-stylekit-accessory-tint-color-2);
          color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-2) 50%, var(--sn-stylekit-editor-foreground-color));

          >.Lexical__ul,
          >.Lexical__ol {
            >li {
              color: var(--sn-stylekit-accessory-tint-color-3);
              color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-3) 50%, var(--sn-stylekit-editor-foreground-color));

              >.Lexical__ul,
              >.Lexical__ol {
                >li {
                  color: var(--sn-stylekit-accessory-tint-color-5);
                  color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-5) 50%, var(--sn-stylekit-editor-foreground-color));

                  >.Lexical__ul,
                  >.Lexical__ol {
                    >li {
                      color: var(--sn-stylekit-accessory-tint-color-6);
                      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-6) 50%, var(--sn-stylekit-editor-foreground-color));

                      .Lexical__ul,
                      .Lexical__ol {
                        >li {
                          color: var(--sn-stylekit-accessory-tint-color-1);
                          color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-1) 50%, var(--sn-stylekit-editor-foreground-color));

                          >.Lexical__ul,
                          >.Lexical__ol {
                            >li {
                              color: var(--sn-stylekit-accessory-tint-color-2);
                              color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-2) 50%, var(--sn-stylekit-editor-foreground-color));

                              >.Lexical__ul,
                              >.Lexical__ol {
                                >li {
                                  color: var(--sn-stylekit-accessory-tint-color-3);
                                  color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-3) 50%, var(--sn-stylekit-editor-foreground-color));

                                  >.Lexical__ul,
                                  >.Lexical__ol {
                                    >li {
                                      color: var(--sn-stylekit-accessory-tint-color-5);
                                      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-5) 50%, var(--sn-stylekit-editor-foreground-color));

                                      >.Lexical__ul,
                                      >.Lexical__ol {
                                        >li {
                                          color: var(--sn-stylekit-accessory-tint-color-6);
                                          color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-6) 50%, var(--sn-stylekit-editor-foreground-color));
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .Lexical__code {
    .Lexical__tokenSelector {
      color: var(--sn-stylekit-accessory-tint-color-5);
      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-5) 50%, var(--sn-stylekit-editor-foreground-color));
    }

    .Lexical__tokenProperty {
      color: var(--sn-stylekit-accessory-tint-color-6);
      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-6) 50%, var(--sn-stylekit-editor-foreground-color));
    }

    .Lexical__tokenFunction {
      color: var(--sn-stylekit-accessory-tint-color-5);
      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-5) 50%, var(--sn-stylekit-editor-foreground-color));
    }

    .Lexical__tokenVariable {
      color: var(--sn-stylekit-accessory-tint-color-2);
      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-2) 50%, var(--sn-stylekit-editor-foreground-color));
    }

    .Lexical__tokenAttr {
      color: var(--sn-stylekit-accessory-tint-color-4);
      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-4) 50%, var(--sn-stylekit-editor-foreground-color));
    }

    .Lexical__tokenOperator {
      color: var(--sn-stylekit-accessory-tint-color-2);
      color: color-mix(in srgb, var(--sn-stylekit-accessory-tint-color-2) 50%, var(--sn-stylekit-editor-foreground-color));
    }
  }
}

/* 
  --sn-stylekit-accessory-tint-color-1: var(--blue);
  --sn-stylekit-accessory-tint-color-2: var(--red);
  --sn-stylekit-accessory-tint-color-3: var(--yellow);
  --sn-stylekit-accessory-tint-color-4: var(--cyan);
  --sn-stylekit-accessory-tint-color-5: var(--green);
  --sn-stylekit-accessory-tint-color-6: var(--orange);
*/